body {
  margin: 0;
}

div.navbar {
  background-color: white;
  position: fixed;
  bottom: 0;
  z-index: 999;
  width: 100%;
  padding-top: 0.5rem; 
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  -webkit-box-shadow: 0 -8px 10px -2px #e8edf1;
  -moz-box-shadow: 0 -8px 10px -2px #e8edf1;
  box-shadow: 0 -8px 10px -2px #e8edf1;
}

.navigation-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.navbar p {
  margin-top: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 0.8rem;
  text-align: center;
}
